.new-tweet{
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;

}

 .new-tweet-div{
  display:inherit;
  flex-direction: row;
  justify-content: space-in-be;
 }