$nav-font-family: Bungee, sans-serif;

nav {
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  background-color: orange;
  background-image: url("/images/brick-wall-dark.png");
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;

  span {
    font-family: $nav-font-family;
  }
}


#angle-down {
  color: red;
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.angle-down-animate {
  position: relative;
  animation: glide 2s ease-in-out alternate infinite;
}

@keyframes glide {
  from {
    left: 0px;
    top: 0px;
  }

  to {
    left: 0px;
    top: 15px;
  }

}

@media only screen and (min-width: 768px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }

}

@media only screen and (max-width: 480px) {


  nav {
    padding-left: 10px;
    padding-right: 10px;
    background-color: black;
    flex-wrap: wrap;
    height: 110px;

    #div-nav-right {
      font-size: 0.45em;
    }
  }
}